<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 style="color: black;"><b>Hello!</b></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../assets/aboutdev.jpg" alt="The Developers"></ion-img><br>
      <h3 style="color: black;"><b>About Us</b></h3>
      <p style="color: black;">Developed by a group of aspiring Information Technology UC Students, is an application that will provide convenience and quality electrical services to homeowners and for electricians to find and get an electrical-related job opportunities.</p><br>
      <p style="color: black;">With Fix8 and further research, the increasing number of electricians and increased rate of demand for electricians will be met.</p><br>
      <p style="color: black;">No matter what your electrical needs are, Fix8 is here to provide prompt, reliable no-nonsense service that gives you the peace of mind you deserve in your home.</p><br>
      <h4 style="color: black;"><b>For inquires please contact:</b></h4>
      <ion-row>
        <ion-col>
          <label style="color: black;"><ion-icon name="call"></ion-icon> 09066496852</label>
        </ion-col>
        <ion-col>
          <label style="color: black;"><ion-icon name="mail"></ion-icon> fix8@gmail.com</label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
