<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" (submit)="submitForm()" novalidate>
    <div class="ionitem-wrapper">
      <ion-item lines="none" class="round-class">
            <ion-label position="floating">Old Password</ion-label>
            <ion-input  type="{{currentPasstype}}" name="amount" [(ngModel)]="passwordForm.OldPassword"></ion-input>
            <ion-icon class="show-option" [hidden]="showCurrentPass" name="eye-off-outline" slot="end" (click)="toggleCurrentPass(1)"></ion-icon>
            <ion-icon class="hide-option" [hidden]="!showCurrentPass" name="eye-outline" slot="end" (click)="toggleCurrentPass(0)"></ion-icon>
      </ion-item>
      <ion-item lines="none">
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="{{newPasstype}}" name="amount" [(ngModel)]="passwordForm.NewPassword" (change)="newpassOnchange()"></ion-input>
            <ion-icon class="show-option" [hidden]="showNewPass" name="eye-off-outline" slot="end" (click)="toggleNewPass(1)"></ion-icon>
            <ion-icon class="hide-option" [hidden]="!showNewPass" name="eye-outline" slot="end" (click)="toggleNewPass(0)"></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="newPassisnotValid">
        Password Must have min of 6 Characters and max of 12 characters!
      </span>
      <ion-item lines="none" class="round-class">
            <ion-label position="floating">Confirm New Password</ion-label>
            <ion-input  type="{{confirmPasstype}}" name="amount" [(ngModel)]="passwordForm.ConfirmPassword" (change)="confirmpassOnchange()"></ion-input>
            <ion-icon class="show-option" [hidden]="showConfirmPass" name="eye-off-outline" slot="end" (click)="toggleConfirmPass(1)"></ion-icon>
            <ion-icon class="hide-option" [hidden]="!showConfirmPass" name="eye-outline" slot="end" (click)="toggleConfirmPass(0)"></ion-icon>
      </ion-item>
      <span class="error ion-padding" *ngIf="confirmpassnotValid">
        Password didn't match!
      </span>
    </div>
    <div class="button-wrapper">
      <ion-button type="submit" expand="block" shape="round" color="primary" size="large">Save New Password</ion-button>
    </div>
  </form>
</ion-content>
