.ionitem-wrapper{
    padding: 20px;
    ion-item{
        border-radius: 50px;
        height: 55px;
        box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
        --highlight-height: 0px;
        margin-top: 15px;
        border: #66869f 1px solid;
    }
}

.button-wrapper{
    padding: 20px;
}

.error-border{
    border: red 1px solid;
}
.error{
    margin-top: 10px;
    color: red;
}